@import "tailwindcss";

@import '@fortawesome/fontawesome-free/css/all.css';


@media (max-width: 600px) {
    body {
       font-size: 14px;
    }
 }
 
body {
    overflow-x: hidden;
 }

 /* Custom Scrollbar */
::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background: black;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #ef4a60;
   border-radius: 8px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #d63c50; /* Slightly darker on hover */
 }


